/* Container for add form */
.add-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.add-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
    color:black;
}

.add-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-form button:hover {
    background-color: #218838;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
